@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
}
